<% if @timetable.errors.blank? %>
  $('#timetable-form').html('');
  if ( $('table#timetables-table').length ) {
    $('table#timetables-table').DataTable().ajax.reload();
  }
  if( $('html').hasClass('is-reveal-open') ) {
    $('#myModal').foundation('close');
  }
<% else %>
  //$('#alert').html("<div class='callout alert radius' data-closable ><%= I18n.t('error', scope: 'timetables.update', default: 'Timeline not was updated.') %><button class='close-button' aria-label='Dismiss alert' data-close ><span aria-hidden >&times;</span></button></div>");
  if( $('html').hasClass('is-reveal-open') ) {
    $('#modal-body').html("<%= escape_javascript(render 'edit')%>");
  } else {
    $('#timetable-form').html("<%= escape_javascript(render 'edit')%>");
  }
<% end %>
link_to_modal();