%span.title.liv1-title
  Help
.content
  Nella <b>SEZIONE DI HELP</b> è presente il manuale operativo online, la pagina che elenca le versioni rilasciate dal Settore Sviluppo e il link per segnalare direttamente al settore gli errori riscontrati. 
%ol
  %li#versions.liv-2
    %span.title.liv2-title
      Versioni
    .content
      Nella pagina delle versioni verranno indicate tutte le release del programma pubblicate nel tempo con il dettaglio delle maggiori modifiche e correzioni che sono state apportate.
  %li#bug.liv-2
    %span.title.liv2-title
      Segnala un errore
    .content
      Cliccando sul link indicante la dicitura <b>Segnala un errore</b> sarai reindirizzato alla pagina del programma di assistenza GIRI per descrivere, in dettaglio, il problema riscontrato. Sarà considerata cosa gradita, dal Settore, se oltre a una descrizione il più dettagliata possibile venisse allegato anche un file contenente l'immagine dell'errore generato ove chiaramente possibile. Appena l'errore sarà risolto, verrà prontamente rilasciata una patch correttiva.
      Grazie in anticipo per l'aiuto. 