%span.title.liv1-title Stampa proc/att
.content Con questa funzionalità è possibile stampare in un unico file PDF tutta o parte del proc/att.
.content Cliccando su questo link si aprirà un menù in cui è possibile selezionare le sezioni che si vuole stampare. 
.content 
  Le scelte possibili sono:
  %ul
    %li Dettagli proc/att
    %li Progettazione
    %li Programmazione
    %li Campioni
    %li Rapporti singoli emessi
    %li Rapporti multipli emessi
.content Completata la selezione, cliccare sul bottone "Stampa", per produrre il documento.