%span.title.liv1-title
  Storico modifiche
.content In questa sezione è possibile visualizzare tutte le modifiche effettuate al proc/att dal momento della sua creazione.
.content 
  Le informazioni disponibili sono:
  %ul
    %li la data relativa all'evento;
    %li il codice del proc/att;
    %li una breve descrizione dell'evento;
    %li una descrizione dettagliata delle modifiche effettuate sul database;
    %li l'autore dell'operazione.
.content L'elenco è in sola consultazione.