%span.title.liv1-title
  Introduzione
.content
  Il procedimento e attività di "<b>#{ Settings.config.title }</b>" è stato sviluppato da AGP-INF Settore Sviluppo, in stretta collaborazione dei colleghi di #{Settings.config.group}, per migliorare la complessa procedura di gestione dei procedimenti e attività che il gruppo è chiamato a gestire quotidianamente.
  A tal fine è stata progettata una piattaforma <i>web-based</i> che permette a chiunque di accedere al sistema tramite un comune browser web, visualizzare le procedimenti e attività caricate nel programma e gestire i procedimenti e attività in base al ruolo assegnato dal responsabile di area o dal responsabile del procedimento e attività ed emettere i rapporti di prova a conclusione dell'intera procedura. Ogni rapporto di prova è un certificato scaricabile in qualsiasi momento.
%ol
  %li#destination.liv-2
    %span.title.liv2-title
      A Chi Si Rivolge
    .content
      Il Sistema è primariamente finalizzato per gli scopi indicati, ma allo stesso tempo potrà essere utilizzato da tutte le Unità Operative dell’Istituto che hanno le medesime necessità nella gestione di procedimenti e attività come #{Settings.config.group}.
  %li#minimal.liv-2
    %span.title.liv2-title
      Requisiti minimi
    .content
      %ul
        %li Mozilla Firefox 53, Chrome 58, Microsoft Edge, Internet Explorer 11, Safari 9.0 o altro browser compatibile con HTML 5, CSS 3 e jQuery3;
        %li Per Internet Explorer 11 la modalità di compatibilità deve essere disattivata;
        %li Javascript abilitato;
        %li Cookie abilitati;
        %li Supporto ai certificati SSL;
        %li Risoluzione schermo 1024x768.
  %li#recommended.liv-2
    %span.title.liv2-title
      Configurazione consigliata
    .content
      %ul
        %li Mozilla Firefox >= 53, Chrome >= 58, Microsoft Edge, Safari 9.0 o altro browser compatibile con HTML 5 e CSS 3 e jQuery3;
        %li Javascript abilitato;
        %li Cookie abilitati;
        %li Supporto ai certificati SSL;
        %li Risoluzione schermo >= 1280x1024.